einops
fvcore
omegaconf
hydra-core
scipy
h5py
python-dateutil
lightning
tqdm
pandas
mne
# nvidia-pyindex
# nvidia-nccl-cu11
psutil
pyyaml
scikit-learn
tensorboard
torch_optimizer
tables
timm
torchaudio
torcheeg
torchmetrics
warmup-scheduler
safetensors
rotary-embedding-torch
requests